*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj
*.unitypackage
*.apk
*.vs

*.exe
*_Data/

/Library/*
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
ExportedObj/
Temp/
[Bb]uild/
[Bb]uilds/

.vs/
.vscode/

*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?

*_ElementData*
UnityPlayer.dll