	body {
		color: #4d4d4d;
		    font: 16px/1.6 "montserrat", Helvetica, sans-serif;	
			
			background-color: #f9f9f9;
			margin:0; padding:0;
	}
	
	#page {
		background-color:white;
	}
	
	h1{
		font-family: freightsans_pro,Arial,sans-serif !important;
		    font-size: 50px;
		    color: #6b6b6b;
		    margin-bottom: 0;
		    font-weight: normal;
		    line-height: 100%;
			text-align: center;
			    font-size: 1.8em;
			    padding: 1em;
	}
	
	h5 {
		    font-size: 1em;
	}
	
	img {
		max-width:500px;
	}
	
	img:hover {
		cursor:pointer;
	}
	
	video {
		display:inline-block;
	}
	
	li {
		margin: 1em 0;
	}
	
	li>img, li>video {
		max-width:300px;
	}
	
	ol#BOM {
	  margin: 0 0 1.5em;
	  padding: 0;
	  counter-reset: item;
	}

	ol#BOM > li {
	  margin: 1em 0;
	  padding: 0 0 0 2em;
	  text-indent: -2em;
	  list-style-type: none;
	  counter-increment: item;
	}
	
	ol#BOM > li:before {
	  border:2px solid black;
	  display: inline-block;
	  width: 0.5em;
      height: 1.35em;
	  padding:0 0.25em 0 0.5em;
	  margin-right:0.5em;

	  font-weight: bold;
	  text-align: right;
	  content: counter(item,upper-latin) "";
	}
	
	table,table td {
		border:1px solid black;
	}
	table {
		display:inline-block;
	}
	
	tr:first-child>td {
		text-align:center;
		border:0;!important;
		font-weight:bold;
	}
	
	img.header {
		max-width:360px;
	}
	
	hr {
		background-color:#5daa00;
		height:2px;
	}
	
	hr.print {
		border:none;
		  border-top:1px dotted #333;
		  color:#fff;
		  background-color:#fff;
		  height:1px;
		width:66%;
		
	}
	
	div.imageBannerCell {
		width:360px;
		height:203px;
		display:inline-block;
		overflow:hidden;
	}
	
	#imageBanner {
		display: flex;
		flex-wrap: nowrap;
		justify-content:center;
		margin:0 auto;
		width:100%;
	}
	
	#introWrapper {
		max-width: 52%;
		    float: left;
		    box-sizing: border-box;
		
	}
	
	#page {
		max-width:1024px;
		margin:1.5em auto;
		box-sizing:border-box;
		padding:0 1.5em 3em 1.5em;
	}
	
	span.BOMRef {
		border:2px solid black;
		width:1.3em;
		display:inline-block;
		text-align:center;
	}
	
	#headerBanner{
	    width: 100%;
	    height: 104px;
	    background-color: #222;
	    box-sizing: border-box;
	    padding: 1.8em;
	}
	
	#headerBanner>img {
		float:left;
		height: 48px;
	}
	
	#team {
		text-align:center;
		opacity:0.6;
	}
	
	#CADfiles {
		display:inline-block;
		background-color:#5daa00;
		color:white;
		text-align:center;
		height:3em;
		line-height:3em;
		width:20em;
	}